node_modules
test-results
package-lock.json
metadata.json
.env
.vscode
.env.aws
LoginAuth.json
**/downloads/
test-results.json
playwright-report
reports

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
